* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 97.5%;
}

body {
    background-color: #121212;
}

p{
    font: 400 1rem "Roboto", sans-serif;
    color: #5F5F68;
}

button,
a {
    cursor: pointer;
}
